<div class="form-wrapper">
  <h1>Welcome!!</h1>
  <p class="login-name">
    <%=name %>
  </p>

  <div class="button-panel">
    <input type="submit" class="button" title="logout" value="Logout"></input>
  </div>
</div>